<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Naughty/Nice List</title>
  <style>
    /* Styles for Santa's List page */

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .scroll-container {
      max-height: 400px;
      overflow-y: auto;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li {
      margin-bottom: 20px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px;
      border: 1px solid #ccc;
      background-color: #ffdd8a;
    }

    .child-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-grow: 1;
    }

    .child-name {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 5px;

    }

    .country {
      font-style: italic;
      text-transform: uppercase;
      color: blue;
      text-align: center;
      margin-top: 5px;

    }

    .naughty-nice-nice {
      font-weight: bold;
      color: green;
      text-align: right;

    }

    .naughty-nice-naughty {
      font-weight: bold;
      color: red;
      text-align: right;

    }

    .filter-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    .filter-buttons button {
      flex-grow: 1;
      margin: 0 10px;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
    }

    /* Style for the "Nice" button */
    .filter-buttons button[value="nice"] {
      background-color: #4caf50;
      color: #fff;
    }

    /* Style for the "Naughty" button */
    .filter-buttons button[value="naughty"] {
      background-color: #ff0000;
      color: #fff;
    }

    /* Responsive styles */
    @media only screen and (max-width: 600px) {

      .filter-buttons button {
        margin: 10px 0;
      }
    }
  </style>
</head>

<body>
  <h1>Santa's List</h1>

  <div class="scroll-container">
    <ul>
      {{#each children}}
      <li>
        <div class="child-info">
          <span class="child-name {{#if childNiceness}}naughty-nice-nice{{else}}naughty-nice-naughty{{/if}}">
            {{childName}}
          </span>
          <span class="country">
            {{childCountry}}
          </span>
        </div>
        <span class="{{#if childNiceness}}naughty-nice-nice{{else}}naughty-nice-naughty{{/if}}">
          {{#if childNiceness}}Nice{{else}}Naughty{{/if}}
        </span>
      </li>
      {{/each}}
    </ul>
  </div>

  <!-- Filter Buttons -->
  <div class="filter-buttons">
    <form action="/lists" method="get">
      <button type="submit" name="filter" value="nice">Nice</button>
      <button type="submit" name="filter" value="">Show All</button>
      <button type="submit" name="filter" value="naughty">Naughty</button>
    </form>
  </div>
</body>

</html>